/* color palette */
:root {
  /* backgrounds */
  --deep-green: #42AA50;
  --mid-green: #52AA5E;
  --chill-green: #61B16C;
  --plum-grey: #ADB33F;
  --plum: #F6B33F;
  --medium-red: #D64933;
  --med-red: #B04C3F;
  --alarming: #B03F3F;
  /* buttons */
  --fiery-red: #A20021;
  --chill-blue: #4EB3D8;
  --mid-green: #52AA5E;
  /* text */
  --font-cream: #C5D9E2;
  --ok-black: #2B303A;
}

@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rock Salt Regular'), local('RockSalt-Regular'), url(https://fonts.gstatic.com/s/rocksalt/v9/MwQ0bhv11fWD6QsAVOZrt0M6p7NGrQ.woff2) format('woff2');
}

@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('B612 Mono Regular'), local('B612Mono-Regular'), url(https://fonts.gstatic.com/s/b612mono/v3/kmK_Zq85QVWbN1eW6lJV0A7diOdDtw.woff2) format('woff2');
}

body {
  font-family: 'Rock Salt';
}

.digit {
  font-family: 'B612 Mono';
  font-weight: bold;
  font-size: 4rem;
}

/* power usage classes */
.very-low {
  background-color: var(--deep-green);
  color: var(--ok-black);
}

.low {
  background-color: var(--mid-green);
  color: var(--ok-black);
}

.low-to-med {
  background-color: var(--chill-green);
  color: var(--ok-black);
}

.medium {
  background-color: var(--plum-grey);
  color: var(--font-cream);
}

.med-to-high {
  background-color: var(--plum);
  color: var(--ok-black);
}

.high {
  background-color: var(--med-red);
  color: var(--ok-black);
}

.super-high {
  background-color: var(--alarming);
  color: var(--ok-black);
}

/* buttons! */

.btn {
  margin:0 auto;
  box-sizing:border-box;
  width:100px;
  height:100px;
  display:inline-block;
  border-radius:999px;
  opacity:1;
  color: var(--font-cream);
  padding: 10px 10px;
}

.red {
  border-bottom:solid 1px var(--font-cream);
  background: var(--fiery-red);
}

.green {
  border-bottom:solid 1px var(--font-cream);
  background: var(--chill-green);
  font-size: 0.8rem;
}

.green:hover {
  border:solid 4px var(--font-cream);
}

.red:hover {
  border:solid 4px var(--font-cream);
}

/* .red:active {
  border:solid 1px var(--fiery-red);
} */

.btn:hover {
  width:100px;
  height:100px;
  opacity:1;
  transition:1s;
  -webkit-transform:rotate(360deg);
}

.btn:active {
transition:0s;
}

.blue {
  border-bottom:solid 1px var(--font-cream);
  background: var(--chill-blue);
}

.blue:hover {
  border:solid 4px var(--font-cream);
}

.blue:active {
width:100px;
height:100px;
border-radius: 999px;
box-sizing: border-box;
background: var(--font-cream);
transition: .6 ease;
}

/* power wasting mode toggle */

.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 160px;
  background-color: #bbb;
  border-radius: 4px;
  text-align: center;
}

.toggle input {
  width:100%;
  height:100%;
  margin:0 0;
  padding:0 0;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:2;
  cursor:pointer;
  opacity:0;
  filter:alpha(opacity=0);
}

.toggle label {
  display:block;
  position:absolute;
  top:1px;
  right:1px;
  bottom:1px;
  left:1px;
  background-image:-webkit-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:-moz-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:-ms-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:-o-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  -webkit-box-shadow:0 2px 3px rgba(0,0,0,0.4),
    inset 0 -1px 1px #888,
    inset 0 -5px 1px #bbb,
    inset 0 -6px 0 white;
  -moz-box-shadow:0 2px 3px rgba(0,0,0,0.4),
    inset 0 -1px 1px #888,
    inset 0 -5px 1px #bbb,
    inset 0 -6px 0 white;
  box-shadow:0 2px 3px rgba(0,0,0,0.4),
    inset 0 -1px 1px #888,
    inset 0 -5px 1px #bbb,
    inset 0 -6px 0 white;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font:normal 11px Arial,Sans-Serif;
  color:#666;
  text-shadow:0 1px 0 white;
  cursor:text;
}

.toggle label:before {
  content:attr(data-off);
  position:absolute;
  top:30px;
  right:0;
  left:0;
  z-index:4;
}

.toggle label:after {
  content:attr(data-on);
  position:absolute;
  right:0;
  bottom:20px;
  left:0;
  color:#666;
  text-shadow:0 -1px 0 #eee;
}

.toggle input:checked + label {
  background-image:-webkit-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:-moz-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:-ms-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:-o-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  -webkit-box-shadow:0 0 1px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  -moz-box-shadow:0 0 1px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  box-shadow:0 0 1px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
}

.toggle input:checked:hover + label {
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  box-shadow:0 1px 3px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
}

.toggle input:checked + label:before {
  z-index:1;
  top:30px;
}

.toggle input:checked + label:after {
  bottom:20px;
  color:#aaa;
  text-shadow:none;
  z-index:4;
}